:root {
    background-color: #eae3ea;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #eae3ea;
    display: flex;
    justify-content: center;
    max-width: 100vw;
  }
  
  form {
    padding-top: 0.25rem;
  }
  
  h1 {
    background-color: #d3d3d3;
    color: #5d7c60; 
    margin-bottom: 0;
    padding: 0.5rem 0;
    text-align: center;
  }
  
  h2 {
    margin: 0 0 0 0.5rem;
    font-size: 2.5rem;
    text-align: center;
    color: #b56357;
  }
  
  h5 {
    font-size: .875rem;
  }
  
  hr {
    padding-bottom: 0;
    margin-top: 0.75rem;
    margin-bottom: 0;
  }
  
  p {
    margin: 0 0 1rem 1rem;
    font-size: 1.125rem;
    font-weight: 600;
  }
  
  span {
    padding: 0.25rem;
    color: rgb(233, 43, 43);
  }

  .btn {
    background-color: rgb(255, 255, 255);
    margin-bottom: 0.1875rem;
    width: 100%;
  }
  
  .card {
    background-color: #a7b3a5;
  }
  
  .card-body {
    display: inline-block;
    padding: 0.25rem;
    text-align: left;
  }
  
  .card-date {
    font-weight: 700;
  }
  
  .card-deck {
    width: 100%;
  }
  
  .card-icon {
    margin-bottom: 0.5rem;
  }
  
  .card-text {
    font-size: 0.93rem;
    margin-left: 0;
    margin-bottom: 0.5rem;
  }
  
  .col {
    margin: 0;
    padding: 0;
  }
  
  .container {
    padding: 0;
  }
  
  .row {
    margin: 0;
  }
  
  .sideNav {
    background-color: #d3d3d3;
    margin-top: 0.75rem;
    padding: 0.5rem;
  }

  
  #addCity {
    background-color: #ecf5ff;
    margin-bottom: 0.2rem;
    text-align: center;
    width: 100%;
  }
  
  #cityBtn {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0.0625rem 0;
    padding: 0.0625rem;
  }
  
  #main {
    width: 75%;
  }
  
  #searchBtn {
    justify-content: center;
    margin: 0.125rem 0;
    padding: 0.1875rem;
    width: 100%;
  }
  
  #todayIcon {
    height: 5.5rem;
    width: 5.5rem;
  }
  
  #today {
    display: block;
    margin-top: 0.25rem;
  }
  
  #ul-view {
    list-style-type: none;
    text-align: left;
  }
  
  
  #searchBtn:hover {
    cursor: pointer;
    color: #ecf5ff;
    box-shadow: 0 0.5rem 0.5rem 0 #2b213b;
    transform: translateY(0.1rem);
    transition: transform 150ms;
  }
  
  
  #clearBtn:hover {
    cursor: pointer;
    color: #ecf5ff;
    box-shadow: 0 0.5rem 0.5rem 0 #2b213b;
    transform: translateY(0.1rem);
    transition: transform 150ms;
  }
  
  
  @media screen and (max-width: 800px) {
    #main {
      width: 100%;
    }
  }
